h2 {
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
}

h1 {
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 50px;
}

p {
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 46px;
}

#grass {
    height: 150px;
    margin-top: 20px;
}

#chosenanimal {
    height: 150px;
    margin-top: 20px;
}

body {
    font-family: tomarik-display-shadow, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: 15px;
    background: url(../images/tree_bark.png);
}

p:first-child {
    line-height: 16px;
    padding-top: 30px;
    padding-bottom: 20px;
}

p {
    line-height: 16px;
    padding-top: 10px;
}

.container {
    margin: 0 auto;
    max-width: 875px;
    height: 600px;
    border: 1px #bdb4b4 dashed;
}
.col-sm {
    text-align: center;
    display: inline-block;
    border: 1px #bdb4b4 dashed;
    height: 600px;
}