h2 {
    font-size: 40px;
    padding-top: 20px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15px;
}

p:first-child {
    line-height: 16px;
    padding-top: 30px;
    padding-bottom: 20px;
}

p {
    line-height: 16px;
    padding-top: 10px;
}
